.status-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfc;
  color: #656565;
}

.status-bar i {
  font-size: 14px;
  margin-left: 5px;
}

.status-bar .status-bar_battery-level {
  margin-left: 5px;
}
